node_modules
.pnpm-store
dist
.next
.turbo
coverage
playwright-report
test-results
blob-report
.DS_Store
.env
.env.local
.env.*.local
*.log
.vercel
.cache
.vitest
*.tsbuildinfo
apps/web/.next
apps/ops/.next
apps/worker/dist
packages/*/dist
sbom.json
.playwright
.nyc_output
infra/postgres-data
.idea
.vscode/*
!.vscode/extensions.json
